<!DOCTYPE html>
<html>
<head>
    <title>Invoice Analysis</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Analysis Summary</h1>

    {% for table in tables %}
    {{ table|safe }}
    {% endfor %}

    <div id="bar1"></div>
    <div id="pie"></div>
    <div id="bar2"></div>

    <script>
        Plotly.newPlot('bar1', {{ bar1|safe }}.data, {{ bar1|safe }}.layout);
        Plotly.newPlot('pie', {{ pie|safe }}.data, {{ pie|safe }}.layout);
        Plotly.newPlot('bar2', {{ bar2|safe }}.data, {{ bar2|safe }}.layout);
    </script>
</body>
</html>
    